---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { blog: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const data = entry.data;

const { Content, remarkPluginFrontmatter } = await entry.render();

const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("DD MMMM YYYY");
---

<Layout title={data.title} description={data.description} navTop>
  <div class="breadcrumbs pt-32 pl-8 text-sm max-md:hidden">
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li class="underline">{data.title}</li>
    </ul>
  </div>
  <section
    class="prose-2xl bg-default py-16 px-2 prose-headings:text-default prose-p:text-default prose-a:text-default prose-strong:text-default prose-ol:text-default prose-ul:text-default max-md:pt-32"
  >
    <article class="prose mx-auto">
      Last Updated: {lastModified}
      <Content />
    </article>
  </section>
</Layout>
