---
import "@fontsource/inter/variable.css";
import Features from "~/components/features.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Testimonials from "~/components/testimonials.astro";
import ContactUs from "~/components/contact-us.astro";
import Demos from "../components/demos.astro";
import Content from "~/components/content.astro";
import Layout from "~/layouts/Layout.astro";

const title = "Astro Media | Best Website Design in Auckland, NZ";

const description =
  "Astro Media is a creative and energetic digital agency that values speed, helping your business reach new heights. We're based right here in Auckland, New Zealand, and we're all about website design and development that truly stands out. If you're looking for the best website developers near me, we've got you covered!";
---

<Layout title={title} description={description}>
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <!-- <Testimonials /> -->
    <Demos />
    <!-- <Showcase /> -->
    <ContactUs />
  </div>
</Layout>
