---
const { resource } = Astro.params;

import Layout from "~/layouts/Layout.astro";

import ExternalCostsCalculator from "~/components/CostsCalculator";

import config from "~/data/config.json";

const metaData = config.metaData.find(
  (data: any) => data.name == "costs-calculator"
);

const title = config.businessName + " | " + (metaData?.title ?? "");

const description = metaData?.description ?? "";
---

<Layout title={title} description={description} navTop>
  <div class="w-full bg-default py-16">
    <section
      class="mx-auto flex h-full max-w-screen-xl flex-col gap-16 py-16 px-2 max-md:py-8"
    >
      <div class="flex flex-col items-center gap-4 text-center">
        <h1 class="font-extrabold text-9xl">
          Website Builder vs Website Agency
        </h1>
        <h2 class="font-bold text-primary text-6xl">Calculator</h2>
      </div>

      <div class="max-md:h-96">
        <ExternalCostsCalculator client:only="react" />
      </div>
      <a
        href="/blog/costs-calculator"
        class="link-primary link mx-auto mt-auto w-fit text-center text-sm"
        >How do we calculate these costs?</a
      >
    </section>
  </div>
</Layout>
