---
import Layout from "~/layouts/Layout.astro";
import CalculateCosts from "~/components/CostsCalculatorr";

import Icon from "astro-icon";

import config from "~/data/config.json";
import Splash from "~/components/splash.astro";

const metaData = config.metaData.find((data: any) => data.name == "resources");

const title = config.businessName + " | " + metaData.title;
---

<Layout title={title} description={metaData.description}>
  <Splash>
    <h1
      class="gradient-text mx-8 text-center font-extrabold tracking-tighter text-9xl sm:mx-0"
    >
      Resources
    </h1>
    <h2
      class="website-tag mx-auto max-w-screen-md text-center font-extralight text-white text-2xl"
    >
    </h2>
  </Splash>
  <section
    class="mx-auto grid max-w-screen-xl grid-cols-2 place-items-start py-16 px-2 align-top max-md:grid-cols-1"
  >
    <div
      class="flex w-full flex-col items-start gap-4 rounded-2xl border-2 border-default p-8"
    >
      <Icon name="mdi:calculator" class="w-32 aspect-square" />
      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-2xl max-md:text-xl">
          Website Builder vs Website Agency Calculator
        </h1>
        <p class="w-full text-xs">
          {
            config.metaData.find((data: any) => data.name == "costs-calculator")
              .description
          }
        </p>
      </div>
      <a
        href="/resources/costs-calculator"
        class="btn-primary btn w-fit self-end">Check it out</a
      >
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  import config from "../../data/config.json";

  const metaData = config.metaData.find(
    (data: any) => data.name == "resources"
  );

  gsap.registerPlugin(ScrollTrigger);
  gsap.registerPlugin(TextPlugin);

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 2,
    text: {
      value: metaData?.description || "",
      delimiter: " ",
    },
  });
</script>
