---
import ContentSection from "./content-section.astro";
---

<section class="flex flex-col">
  <a
    href="/contact-us"
    class="mx-auto w-fit bg-primary p-4 text-center font-bold text-4xl hover:bg-slate-700 hover:text-primary"
    >Contact Us Today</a
  >
</section>
