---
import ContentSection from "./content-section.astro";
---

<section class="flex flex-col">
  <a
    href="/contact-us"
    class="btn-primary btn btn-lg mx-auto h-32 w-fit p-4 text-center font-bold text-4xl"
    >Contact Us Today</a
  >
</section>
