---
import ContentSection from "./content-section.astro";
---

<section class="flex flex-col">
  <a
    href="/contact-us"
    class="btn-primary btn btn-lg mx-auto w-fit p-4 text-center"
    >Contact Us Today</a
  >
</section>
