---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/portfolio";

const sites = await getShowcase();
---

<ContentSection title="Portfolio" id="demos">
  <Fragment slot="lead">
    <span class="text-primary">Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment>
  <div class="flex max-w-6xl flex-col gap-4 space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.slice(0, 3).map((site) => <ShowcaseCard site={site} />)}
    </div>
    <a href="/portfolio" class="link mx-auto underline text-2xl"
      >See More Of Our Work</a
    >
  </div>
</ContentSection>
