---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Website Development",
    description:
      "Stand out in a crowded online marketplace with our hand-crafted websites that reflect your brand's personality.",
    icon: "mdi:code-braces-box",
  },
  {
    title: "Branding",
    description:
      "Whether you're launching a new business or looking to refresh your brand, having a strong and recognisable digital presence will \
      create a lasting impression.",
    icon: "mdi:palette",
  },
  {
    title: "SEO",
    description:
      "Optimise your business for search engines to boost online visibility so that customers will be able to find you more easily.",
    icon: "mdi:search-web",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Upgrade</span> your business with our powerful features,
    <span class="text-primary">tailored</span> to enhance your operations and drive
    growth. Experience the difference and see your business <span
      class="text-primary">thrive</span
    >.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="border-default bg-offset flex flex-col items-center gap-4 border p-6">
          <div class="border-primary text-primary h-16 w-16 rounded-full border-2 p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center text-xl font-extrabold">{title}</p>
          <p class="text-offset text-center text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
