---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
import logo from "~/assets/AstroMediaLogo.svg";
import { Image } from "astro:assets";

import config from "~/data/config.json";

const links: Array<FooterLink> = [
  {
    url: "https://www.neighbourly.co.nz/business/astro-media",
    description: "Astro on Neighbourly",
    icon: "clarity:house-solid",
  },
  {
    url: "https://www.instagram.com/astromedianz",
    description: "Astro on Instagram",
    icon: "mdi:instagram",
  },
];
---

<footer class="relative flex items-center justify-center pt-8">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="z-10 flex w-full flex-col gap-8">
    <div class="relative flex flex-col items-center gap-8">
      <Image src={logo} alt="Astro Media Logo" class="h-16 w-16" />
      <ul class="relative flex justify-center gap-4">
        <li>
          <a
            class="flex h-8 w-8 items-center justify-center rounded-full border-2 border-current bg-[url('/src/assets/neighbourly.png')] bg-cover p-4"
            href="https://www.neighbourly.co.nz/business/astro-media"
            target="_blank"
          >
            <span class="sr-only">Astro on Neighbourly</span>
          </a>
        </li>
        <li>
          <a
            class="flex h-8 w-8 items-center justify-center rounded-full border-2 border-current bg-[url('/src/assets/instagram.png')] bg-cover p-4"
            href="https://www.instagram.com/astromedianz"
            target="_blank"
          >
            <span class="sr-only">Astro on Instagram</span>
          </a>
        </li>
      </ul>
    </div>

    <div
      class="flex w-full items-center justify-between max-md:flex-col max-md:gap-6"
    >
      <p class="text-xs">© {config.businessName}. All right reserved</p>
    </div>
  </div>
</footer>
