---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.neighbourly.co.nz/business/astro-media",
    description: "Astro on Neighbourly",
    icon: "clarity:house-solid",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid gap-4 sm:grid-cols-1">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current bg-[url('/src/assets/neighbourly.png')] bg-cover p-4"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
          </a>
        </li>
      ))
    }
  </ul>
</footer>
