---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Unleash growth" id="intro-section-1">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Marketing and website design are essential components for achieving
    <span class="text-primary">long term</span> business growth. However, most small
    businsses lack a digital footprint in the <span class="text-primary"
      >modern</span
    > age. If this sounds like <span class="text-primary">you</span>, potential
    revenue may be untapped.
  </Fragment>
  <figure
    class="flex flex-col items-center justify-center rounded-xl bg-flip p-8 text-center"
  >
    <blockquote class="mx-auto mb-4 max-w-2xl text-flip lg:mb-8">
      <h3 class="font-semibold text-lg">
        "No business, whether you’re part-time, self-employed, a start-up or you
        have a large staff, can afford to be without a digital presence."
      </h3>
    </blockquote>
    <img
      src="/src/assets/business-govt-nz.png"
      class="w-40 rounded-2xl bg-default p-3 px-4"
    />
  </figure>
</ContentSection>

<ContentSection title="How we will help" id="intro-section-2">
  <Fragment slot="lead">
    Our goal is to assist our clients with identifying and addressing areas of
    <span class="text-primary">weakness</span>
    in their digital strategy.
  </Fragment>
</ContentSection>