---
---

<section class="relative h-full bg-black">
  <div class="relative flex h-full flex-col items-center justify-center">
    <h2
      class="gradient-text mx-8 font-extrabold tracking-tighter text-8xl sm:mx-0"
    >
      We transform
      <br /> your online presence
    </h2>
    <h3 class="gradient-text mx-8 mt-4 tracking-tighter text-white">
      By building awesome websites that convert.
    </h3>
    <button
      class="mt-8 rounded-md border border-dashed px-16 font-bold text-primary transition duration-300 ease-in-out text-2xl hover:bg-black hover:text-white sm:px-32"
      >Get started</button
    >
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>

  <style>
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }

    #astronaut {
      animation: float linear 2.5s infinite alternate;
    }

    @media (prefers-reduced-motion: reduce) {
      #astronaut {
        @apply animate-none;
      }

      :global(#starfield) {
        @apply hidden;
      }

      #splash-bg-fallback {
        @apply block;
      }
    }
  </style>
</section>
