---
import ThreeJs from "./three-js.astro";
---

<section class="relative h-full bg-black">
  <div class="relative flex h-full flex-col items-center justify-center">
    <h2
      class="gradient-text mx-8 font-extrabold tracking-tighter text-8xl sm:mx-0"
    >
      We transform
      <br /> your online presence
    </h2>
    <h3 class="gradient-text mx-8 mt-4 tracking-tighter text-white text-xl">
      By building awesome websites that convert.
    </h3>
  
  </div>
</section>
