---
import ThreeJs from "./three-js.astro";
---

<section class="relative h-full bg-black">
  <div class="relative flex h-full flex-col items-center justify-center">
    <h2
      class="gradient-text mx-8 font-extrabold tracking-tighter text-8xl sm:mx-0"
    >
      We transform
      <br /> your
      <span class="online-tag">online</span> presence
    </h2>
    <h3
      class="website-tag gradient-text mx-8 mt-4 tracking-tighter text-white text-xl"
    >
    </h3>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  gsap.registerPlugin(TextPlugin);

  gsap.to(".online-tag", {
    //Makes the word "Online" go white
    duration: 0.5,
    textShadow: "0px 0px 10px rgba(255, 255, 255, 0.5)",
    color: "white",
  });

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 0.6,
    text: {
      value: "By building awesome websites that customers trust.",
      ease: "none",
      delimiter: "",
    },
  });

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 1,
    delay: 1,
    color: "white",
  });
</script>
