---
import ThreeJs from "./three-js.astro";
---

<<<<<<< HEAD
<section class="relative h-screen bg-black">
  <div
    class="hero flex h-full flex-1 flex-col items-center justify-center px-4"
  >
    <div
      class="absolute top-0 left-0 z-0 flex h-full w-full items-center justify-center lg:block"
    >
      <ThreeJs client:load />
    </div>
    <div class="relative z-10">
      <h1 class="gradient-text ml-8 font-extrabold tracking-tighter text-8xl">
        Web Design that<br /> Converts
      </h1>
      <h3
        class="gradient-text-subtitle-1 mt-8 ml-8 text-center font-bold tracking-tighter text-lg md:text-left md:text-xl"
      >
        Unleashing the Online Potential of Aotearoa's Businesses, Artists, and
        Visionaries.
      </h3>
    </div>
    <!-- button add here /cta -->
    <div class="mt-32 flex h-10 w-2/5 justify-evenly">
      <div class="z-10 w-1/3 rounded-xl"></div>
      <div class="z-10 w-1/3 rounded-xl"></div>
    </div>
=======
<section class="relative h-full bg-black">
  <div class="relative flex h-full flex-col items-center justify-center">
    <h2
      class="gradient-text mx-8 font-extrabold tracking-tighter text-8xl sm:mx-0"
    >
      We transform
      <br /> your online presence
    </h2>
    <h3 class="gradient-text mx-8 mt-4 tracking-tighter text-white">
      By building awesome websites that convert.
    </h3>
    <button
      class="mt-8 rounded-md border border-dashed px-16 font-bold text-primary transition duration-300 ease-in-out text-2xl hover:bg-black hover:text-white sm:px-32"
      >Get started</button
    >
>>>>>>> 5bf9a9b01a6c31cf4eebd4bf583dacf8a1775b9b
  </div>
</section>
