---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Testimonials" id="testimonials">
  <div class="grid grid-cols-3 grid-rows-2">
    <div class="rounded-xl border border-default p-6 shadow-lg">
      <h3>Daniella Doe</h3>
      <h4>Mobile dev</h4>
      <p class="font-light text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        dignissimos consequatur laudantium aspernatur molestiae repudiandae
        repellendus dolor ipsum culpa. Consectetur, maxime ipsum id consequatur
        non nobis quaerat magni accusamus magnam.
      </p>
    </div>
  </div>
</ContentSection>
