---
import { Image } from "astro:assets";
import Lid from "./Lid.astro";
import SpeakerGrid from "./SpeakerGrid.astro";
import Trackpad from "./Trackpad.astro";
import Keypad from "./Keypad.astro";

const { latestCookup } = Astro.props;
---

<div
  class="flex scale-50 transform flex-col items-center justify-center gap-12 py-0 [perspective:800px] md:scale-100"
>
  <div id="baseArea" class="h-fit">
    {/* Lid */}
    <Lid latestCookup={latestCookup} />
    {/* Base area */}
    <div
      class="relative -z-10 h-[22rem] w-[32rem] overflow-hidden rounded-2xl bg-gray-500 dark:bg-[#272729]"
    >
      {/* above keyboard bar */}
      <div class="relative h-10 w-full">
        <div class="absolute inset-x-0 mx-auto h-4 w-[80%] bg-[#050505]"></div>
      </div>
      <div class="relative flex">
        <div class="mx-auto h-full w-[10%] overflow-hidden">
          <SpeakerGrid />
        </div>
        <div class="mx-auto h-full w-[80%]">
          <Keypad />
        </div>
        <div class="mx-auto h-full w-[10%] overflow-hidden">
          <SpeakerGrid />
        </div>
      </div>
      <Trackpad />
      <div
        class="absolute inset-x-0 bottom-0 mx-auto h-2 w-20 rounded-tr-3xl rounded-tl-3xl bg-gradient-to-t from-[#272729] to-[#050505]"
      >
      </div>
      <div
        class="absolute inset-x-0 bottom-0 z-50 h-40 w-full bg-transparent bg-gradient-to-t dark:from-black dark:via-black"
      >
      </div>
      <!-- {badge && <div class="absolute bottom-4 left-4">{badge}</div>} -->
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const macbookTimeline = gsap.timeline();

  macbookTimeline.to("#portfolioImg", {
    rotateX: "30deg",
    translateY: "150%",
    scaleY: 3,
    scaleX: 2,
    scrollTrigger: {
      trigger: "#macbookTrigger",
      start: "top center",
      end: "bottom center",
      scrub: true,
    },
  });
</script>
