---
import Layout from "~/layouts/Layout.astro";
import Splash from "~/components/splash.astro";

import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "Users/jackgong/Documents/Astro Media/astro-media/src/data/portfolio";

const sites = await getShowcase();

import config from "~/data/config.json";
---

<Layout
  title={`${config.businessName} | Portfolio`}
  description="Explore our portfolio showcasing top-notch website design and development by the best website developers near you. Based in Auckland, Astro Media crafts custom websites that elevate your business with speed and creativity. Check out our work and see how we can help you stand out online!"
>
  <Splash>
    <h1
      class="gradient-text mx-8 text-center font-extrabold tracking-tighter text-9xl sm:mx-0"
    >
      Our Portfolio
    </h1>
    <h2
      class="website-tag mx-auto max-w-screen-md text-center font-extralight text-white text-2xl max-md:text-base"
    >
    </h2>
  </Splash>
  <section class="mx-auto my-16 max-w-6xl space-y-2 max-md:my-4">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  gsap.registerPlugin(TextPlugin);

  gsap.to(".website-tag", {
    //Subtitle animation
    duration: 2,
    text: {
      value:
        "Explore our portfolio showcasing top-notch website design to spark your own creativity. Check out our work to see how we can help you stand out in your neighbourhood.",
      delimiter: " ",
    },
  });
</script>
